body {
    background-color: #0c0c0c;
    font-family: "Ubuntu Mono", monospace;
}

h1 {
    font-size: 50px;
    color: #cccccc;
    font-weight: bold;
    font-family: "Ubuntu Mono", monospace;
    padding: 40px;
}

.gif {
    text-align: center;
    margin-right: 40px;
    float: right;
    
}

h2 {
    font-size: 30px;
    color: #cccccc;
    font-weight: bold;
    font-family: "Ubuntu Mono", monospace;
}

p {
    font-size: 30px;
    padding-left: 60px;
    color: #cccccc;
    font-family: "Ubuntu Mono", monospace;
}

.nav {
    padding-left: 50px;
    font-size: 30px;
    color: #cccccc;
    display: flex;
    max-width: max-content;
    flex-direction: column;
    
}


.nav h2 {
    padding-left: 50px;
    font-size: 30px;
    margin: 0;
}

.nav h3 {
    padding-left: 50px;
    font-size: 30px;
    color: #cccccc;
    
}

.nav li {
    padding-left: 15px;
    margin: 0;
    list-style-type: none;
    font-size: 30px;
    
}
.nav a{
    color: #cccccc;
    text-decoration: none;
    font-family: "Ubuntu Mono", monospace;
    
}

.subnav {
    white-space-collapse: collapse;
    padding-left: 50px;
    font-size: 30px;
    color: #cccccc;
}

.subnav li::before {
    content: "└──";
    margin-right: 8px;
    margin-left: 8px;
}

.nav h2::before {
    content: "├──────";
    margin-right: 8px;
}
.nav h3::before {
    content: "├──────";
    margin-right: 8px;
}
.subnav {
  border-left: 2.5px solid #cccccc;
  margin-left: 58px;
  border-color: #cccccc;
}

.padline {
    display: inline-block;
    width: 10px;
}


@media (max-width: 768px) {
    h1 {
        font-size: 36px;
        padding: 20px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 20px;
        padding-left: 20px;
    }

    .nav, .subnav {
        font-size: 24px;
        padding-left: 20px;
    }

    .nav h2, .nav h3 {
        font-size: 20px;
        padding-left: 20px;
    }

    .nav li {
        font-size: 20px;
        padding-left: 10px;
    }
}