h1 {
    font-size: 50px;
    padding-left: 50px;
    padding-top: 20px;
    color: #cccccc;
    font-weight: bold;
    font-family: "Ubuntu Mono", monospace;
}


.gif {
    padding-right: 30px;
    padding-top: 20px;
    margin-right: 400px;
    float: right;
    
}

h2 {
    font-size: 35px;
    padding-left: 50px;
    padding-top: 20px;
    color: #cccccc;
    margin-right: 100px;
    margin-left: 10px;
    font-weight: bold;
    font-family: "Ubuntu Mono", monospace;
}

p {
    font-size: 30px;
    padding-left: 60px;
    color: #cccccc;
    font-family: "Ubuntu Mono", monospace;
    margin-right: 400px;
}

body {
    background-color: #0c0c0c;
    font-family: "Ubuntu Mono", monospace;
}

.nav {
    padding-left: 50px;
    font-size: 30px;
    color: #cccccc;
    
    
}

.nav li {
    padding-left: 20px;
    list-style-type: none;
}

.back h2 {
    font-size: 25px;
    padding-left: 50px;
    padding-top: 20px;
    color: #cccccc;
    margin-right: 100px;
    margin-left: 10px;
    font-weight: bold;
    font-family: "Ubuntu Mono", monospace;
    text-decoration: none;
}

.back a:hover{
    text-shadow: 0 0 5px #ffffff;
    text-decoration: none;
}

.back a:visited, .back a:focus, .back a:active {
    text-decoration: none;
    color: #cccccc;
}
.back a {
    text-decoration: none;
    color: #cccccc;
}