* { box-sizing: border-box; }

img { width: 100%; }
  
html {
  font-family: 'AdobeGaramondW01-Regula', georgia, serif;
  font-size: 18px; 
}

body {
  width: 80%;
  margin: 8rem 15% 5rem 5%;
  max-width: 1000px; 
}

h1 {
  font-family: 'BauerBodoniW01-BoldDisp', georgia, serif;
  font-size: 5rem;
  color: #c99914;
  margin: 0;
  line-height: 1.1em; 
}

p, ul {
  line-height: 1.75em; 
}


.orange h1 {
	color: #ffa64a;
}
.plum h1 {
  color: #A51029; 
}

h1, h2, h3, p {
  margin-left: 20vw; 
}

img {
  width: 36vw;
  float: left;
  margin: 1em; 
}

img.persimmon {
  width: 50vw;
  shape-outside: polygon(50.49% 63.97%, 34.43% 65.78%, 22.33% 62.66%, 3.57% 61.29%, 2.72% 40.12%, 17.41% 34.33%, 28.45% 34.36%, 44.27% 29.92%, 50.95% 36.79%, 63.53% 31.92%, 76.24% 36.24%, 93.51% 39.35%, 97.49% 52.61%, 90.93% 62.51%, 66.56% 61.87%, 58.7% 66.03%);
}






























